@model Book_control_system.Models.AuthorsView
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>AuthorList page</p>

<form asp-controller="Authors" asp-action="Index" method="get">
    <p>Select Book</p>
    @{

        var selectListItems = new List<SelectListItem>();
        foreach (var book in Model.BooksList)
        {
            selectListItems.Add(new SelectListItem { Text = book.Title, Value = book.Id.ToString() });
        }
        var selectList = new SelectList(selectListItems, "Value", "Text");
    }
    @Html.DropDownList("BookId", selectList, "", new { @class = "css-class" })
    <input type="submit" value="Submint" />
</form>



<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorList[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorList[0].Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorList[0].Books)
        </th>
       
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.AuthorList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Books)
            </td>
        </tr>
    }
    </tbody>
</table>