@model Book_control_system.Models.BooksView
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>BookList page</p>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Books" asp-action="Index" method="get">
    <p>Select Author </p>
    @{

        var selectListItems = new List<SelectListItem>();
        foreach (var author in Model.AuthorList)
        {
            selectListItems.Add(new SelectListItem { Text = author.Surname, Value = author.Id.ToString() });
        }
        var selectList = new SelectList(selectListItems, "Value", "Text");
    }
    @Html.DropDownList("AuthorId", selectList, "", new { @class = "css-class" })
    <input type="submit" value="Submint" />
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookList[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookList[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookList[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookList[0].Authors)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Authors)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
